<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true">

  <targets async="true">
    <target name="file"  type="File" encoding="utf-8"  fileName="${basedir}/log/${shortdate}.txt"
            layout="${date:universalTime=True:format=yyyyMMdd HH\:mm\:ss.ff} ${uppercase:${pad:${level}:padding=-4}} ${logger:shortName=true:padding=-20} ${message}${onexception:${newline}${exception:format=ToString,StackTrace}}"/>

    <target name="console" type="ColoredConsole"
            layout="${date:universalTime=True:format=yyyyMMdd HH\:mm\:ss.ff} ${uppercase:${pad:${level}:padding=-4}} ${logger:shortName=true:padding=-20} ${message}${onexception:${newline}${exception:format=ToString,StackTrace}}"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file"/>
    <logger name="*" minlevel="Info" writeTo="console"/>
  </rules>
</nlog>